<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {# Load the tag library #}
        {% load bootstrap5 %}
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
    </head>
    <body>
        <div class="container py-4">
            {# Display django.contrib.messages as Bootstrap alerts #}
            {% bootstrap_messages %}
            <h1>0бъявления</h1>
            <div>
                <a href="/bboard/">Главная</a>
                {% for rubric in rubrics %}
                <a href="/bboard/{{ rubric.pk }}/">{{ rubric.name }}</a>
                {% endfor %}
            </div>
            {# Display a form #}
            <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
            {% csrf_token %}
            {% for bb in bbs %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-header py-3">
                        <h2 class="my-0 fw-normal">{{ bb.title }}</h2>
                    </div>
                    <div class="card-body">
                        <p>{{ bb.content }}</p>
                        по<p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
            {# Read the documentation for more information #}
            {% bootstrap_javascript %}
        </div>
    </body>
</html>