<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ current_rubric.name }} :: Доска объявлений</title>
        {# Load the tag library #}
        {% load bootstrap5 %}
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}            
    </head>
    <body>
        <div class="container py-4">
            <hl>Объявления</hl>
            <Ь2>Рубрика: {{ current_rubric.name }}</h2>
            <div>
                <a href="/bboard/">Главная</а>
                {% for rubric in rubrics %}
                <a href="/bboard/{{ rubric.pk }}/">{{ rubric.name }}</a>
                {% endfor %}
            </div>
            <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
                {% for bb in bbs %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-header py-3">
                                <h2>{{ bb.title }}</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>{{ bb.content }}</p>
                            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>